body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth !important;
}

/*============================
 * ============================
 * 	Modif du Header
 * ============================
 * ==========================*/

#banniere {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font: white;
    overflow: hidden;
    z-index: 10;
    font-size: 25px;
}

#banniere #menu {
    width: 70%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#banniere #menu a {
    text-decoration: none;
    color: black;
    padding-top: 40px;
    border-top: 3px solid transparent;
}

#banniere label {
    margin: 2% 3% 0 0;
    font-size: 26px;
    width: 26px;
    float: right;
    display: none;
}

#toggle {
    display: none;
}

/*============================
 * ============================
 * 	Modif Page d'accueil
 * ============================
 * ==========================*/

#welcome {
    margin-top: 1%;
    height: 100vh;
    background: #000;
}

#mainTitle {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translateY(-50%);
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.3em;
}

h1 span {
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

h1 span:nth-child(1) {
    animation-delay: 1s;
}

h1 span:nth-child(2) {
    animation-delay: 1.5s;
}

h1 span:nth-child(3) {
    animation-delay: 2s;
}

h1 span:nth-child(4) {
    animation-delay: 2.5s;
}

h1 span:nth-child(5) {
    animation-delay: 3s;
}

h1 span:nth-child(6) {
    animation-delay: 3.5s;
}

video {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 500px;
    object-fit: cover;
}

#scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

#scroll a {
    padding-top: 60px;
}

#scroll a span {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: sdb04 2s infinite;
    box-sizing: border-box;
    color: white;
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

#apod {
    background-image: url(../img/nebula.jpg);
    color: white;
    margin-top: -1.5%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.apod2 {
    background-image: url(../img/nebula.jpg);
    height: 1800px;
    color: white;
    margin-top: -1.5%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.apod3 {
    background-image: url(../img/nebula.jpg);
    color: white;
    height: 1600px;
    margin-top: -1.5%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#apodPostList {
    background-image: url(../img/nebula.jpg);
    color: white;
    height: auto;
    margin-top: -1.5%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title2 {
    padding-top: 2%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 70%;
    font-size: 20px;
    margin-left: 15%;
}

#pic {
    max-width: 80%;
}

#explanation {
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 70%;
    font-size: 20px;
    margin-left: 15%;
}

/*============================
 * ============================
 * 	Modif page PostsList
 * ============================
 * ==========================*/

td #img {
    width: 50%;
}

#container {
    justify-content: center;
}

/*Ajout de bordure a table*/

table {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
}

#tbody {
    margin-top: 2%;
}

/*Taille des cellules du tableau*/

tbody tr td {
    width: 20%;
    height: auto;
    border: none;
}

tbody tr td a {
    text-decoration: none;
    color: white;
}

/*suppression des bordures internes du tableau */

td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    border-right: hidden;
}

th {
    border-bottom: 1px solid black;
}

/*============================
 * ============================
 * 	Modif page PostView
 * ============================
 * ==========================*/
#picPost{
    width: 80%;
}
#comments{
    position: relative;
    left: 20%;
    font-size: 20px;
}


/*============================
 * ============================
 * 	Page file upload
 * ============================
 * ==========================*/

#titleUp {
    position: relative;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 70%;
    font-size: 20px;
    margin-left: 15%;
    top: 5%;
}
#blockUpload{
    display: block;
    font-size: 40px;
    position: relative;
    top: 15%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 30%;
    font-size: 20px;
    margin-left: 35%;
}
#uploadedFile{
    position: relative;
    top: 70%;
    left: 45%;
    color: white;
    font-size: 25px;
}

/*============================
 * ============================
 * 	Admin page
 * ============================
 * ==========================*/

#blockAdmin {
    display: block;
    font-size: 40px;
    height: 200px;
    position: relative;
    top: 15%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 50%;
    font-size: 20px;
    margin-left: 20%;
}

#button1 {
    position: relative;
    top: 20%;
    white-space: nowrap;
}

#button2 {
    position: relative;
    top: 50%;
    white-space: nowrap;
}

#blockAdmin a {
    text-decoration: none;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
}

footer {
    margin-top: -1%;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: black;
    float: left;
}

#footerContainer {
    height: 150px;
}

#network {
    position: relative;
    top: 5%;
}

#blockComments {
    position: relative;
    top: 10%;
    left: 15%;
    font-size: 25px;
    padding: 5px;
    color: white;
}
/*============================
 * ============================
 * 	Admin page - Users
 * ============================
 * ==========================*/
 #blockUser {
    display: block;
    font-size: 40px;
    height: 50px;
    position: relative;
    top: 15%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 50%;
    font-size: 20px;
    margin-left: 20%;
}
/*============================
 * ============================
 * 	Page login
 * ============================
 * ==========================*/
 #blockLogin{
    font-size: 40px;
    height: 50px;
    position: relative;
    top: 15%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 50%;
    font-size: 20px;
    margin-left: 20%;
}

#label1 {
    width: 95%;
    position: relative;
    right: 6%;
}

#userLogin {
    position: relative;
    right: 1.5%;
}
#pendingUser{
    position: relative;
    top: 70%;
    left: 38%;
    color: white;
    font-size: 25px;
}
#wrongSignIn{
    position: relative;
    top: 70%;
    left: 38%;
    color: white;
    font-size: 25px;
}
/*============================
 * ============================
 * 	Page logout
 * ============================
 * ==========================*/

#blockLogout{
    font-size: 40px;
    height: 50px;
    position: relative;
    top: 15%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 50%;
    font-size: 20px;
    margin-left: 20%;
}
#logout{
    position: relative;
    top: -35%;
}
/*============================
 * ============================
 * 	Page signup
 * ============================
 * ==========================*/
#blockCreate{
    font-size: 40px;
    height: 100px;
    position: relative;
    top: 15%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 50%;
    font-size: 20px;
    margin-left: 20%;
}
/*============================
 * ============================
 * 	Media Queries max 1800px
 * ============================
 * ==========================*/

 .apod3{
     height: 1700px;
 }
/*============================
 * ============================
 * 	Media Queries max 1440px
 * ============================
 * ==========================*/

@media screen and (max-width: 1440) {
    #mainTitle{
        top: 50%;
        left: 30%;
    }
}

/*============================
 * ============================
 * 	Media Queries max 768px - 1024
 * ============================
 * ==========================*/

@media screen and (max-width: 1024px) {
    video {
        display: none;
    }
    #mainTitle {
        top: 60%;
        left: 20%;
        font-size: 4em;
    }
    #scroll {
        bottom: -20%;
    }
    .apod2 {
        height: 500px;
    }
    #apod3 {
        height: 700px;
    }

}

/*============================
 * ============================
 * 	Media Queries max 768px
 * ============================
 * ==========================*/

/*Modifs du header */

@media screen and (max-width: 768px) {
    #banniere {
        height: 75px;
        display: block;
        position: initial;
    }
    #banniere #menu {
        width: 100%;
        height: auto;
        position: absolute;
        visibility: hidden;
        z-index: 10;
        background-color: black;
        font-weight: bold;
        display: block;
        font-size: 1.3em;
        top: 5%;
    }
    #banniere #menu a {
        color: white;
        margin-right: 45px;
        border-top: none;
        font-size: 0.8em;
        padding-top: 0;
    }
    #banniere #menu li {
        margin: 1% 0 0 0;
    }
    #banniere #menu li:first-child a {
        border-top: none;
    }
    #banniere #menu li:first-child a:hover {
        color: red;
    }
    #banniere #menu a:hover {
        border-top: none;
        color: red;
    }
    #banniere label {
        display: block;
        cursor: pointer;
    }
    #toggle:checked+#menu {
        visibility: visible;
    }
    /*Modifs accueil */
    #mainTitle {
        top: 60%;
        left: 20%;
        letter-spacing: 0.1em;
        font-size: 4em;
    }
    .apod2 {
        height: 500px;
    }

    #apod6{
        height: 500px;
    }
    #apod5{
        height: 1500px;
    }

}

@media screen and (max-width: 623px) {
    #mainTitle {
        font-size: 50px;
    }
    #explanation {
        font-size: 17px;
    }
    .block {
        top: 10%;
        font-size: 15px;
        padding: 5px;
    }
    #blockLogin{
        height: 100px;
    }
    #formLogin {
        display: inline-block;
    }
    #blockAdmin{
        width: 70%;
        left: -10%;
        margin-right: 5%;
    }
    #blockAdmin a {
        font-size: 15px;

    }
}

@media screen and (max-width: 440px) {
    #mainTitle {
        font-size: 2.5em;
    }
    #explanation {
        font-size: 14px;
    }
    .block {
        top: 10%;
        font-size: 15px;
        padding: 5px;
    }
    #formLogin {
        display: inline-block;
    }
    #apod5{
        height: 900px;
    }
}